:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
   /* transitions */
  --trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
  position: relative;
}

.header {
  display: flex;
}

.portfolio-header{
  border-bottom: 1px solid #e7e9fc;
}

.inline {
  display: flex;
}

.section {
  padding: 120px 0px;
}

body {
  background: var(--color-white);
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  padding: 24px 0px;

  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris);
}

.logo-studio {
  color: var(--color-grey);
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-navy-blue);

  transition: color var(--trns-fast);
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.current{
  position: relative;
  color: var(--color-ocean);
}

.current::after{
  content: '';

  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--color-ocean);
}

.nav {
  margin-left: 76px;
}

.navigation-list {
  margin-left: 40px;
}

.navigation-list:first-child {
  margin-left: 0px;
}

.navigation:hover,
.navigation:active,
.navigation:focus {
  color: var(--color-ocean);
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--color-slate);
  letter-spacing: 0.02em;

  transition: color var(--trns-fast);
}

.contacts-list {
  margin-left: 40px;
  padding: 24px 0px;
}

.address {
  margin-left: 332px;
}

.contacts-list:first-child {
  margin-left: 0px;
}

.contacts:hover,
.contacts:active,
.contacts:focus {
  color: var(--color-ocean);
}

.order-section{
  padding: 188px 0px;
  max-width: 1440px;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-images/hero-background.jpg);
  background-position: center;
  margin: 0 auto;
}

.order-service-logo {
  color: var(--color-white);
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 50px;
  margin: 0 0;
  margin-bottom: 48px;
}

.order-service-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-iris);
  cursor: pointer;
  color: var(--color-white);
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 16px 32px;
  margin: 0 auto;
  display: block;

  transition: background-color var(--trns-fast);
}

.order-service-button:hover,
.order-service-button:focus,
.order-service-button:active {
  background-color: var(--color-ocean);
}

.features {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 0;
}

.features-list {
  margin-left: 24px;
  flex-basis: calc((100%-3 * 24px) / 4);
}

.features-icon {
  background: #f4f4fd;
  border-radius: 4px;
height: 112px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list:first-child {
  margin-left: 0px;
}

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
  letter-spacing: 0.02em;

  margin-top: 0px;
  margin-bottom: 8px;
}

.about-us {
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-navy-blue);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.about-us-image {
  width: 360px;
  height: 300px;
  margin-left: 24px;
}

.about-us-image:first-child {
  margin-left: 0px;
}

.team {
  background-color: var(--color-cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.team-card {
  background-color: var(--color-white);
  text-align: center;
  margin-left: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card:first-child {
  background-color: var(--color-white);
  text-align: center;
  margin-left: 0px;
}

.bottom-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 0px;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}

.member-position {
  margin-bottom: 8px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.socials-icon {
  fill: var(--color-cloud);
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--color-iris);
  border-radius: 50%;

  transition: background var(--trns-fast);
}

.socials-link:hover,
.socials-link:focus {
  background: var(--color-ocean);
}

.customers-section {
  padding-top: 130px;
}

.customers-header {
  font-size: 36px;
  line-height: 111%;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--color-navy-blue);

  margin-bottom: 72px;
}

.customer {
  width: 168px;
  height: 88px;
}

.customer-list {
  gap: 24px;
}

.customer-icon {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 16px 0px;
  fill: #afb1b8;

  transition: fill var(--trns-fast);
}

.customer-link {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;

  transition: border var(--trns-fast);
}

.customer-link:hover,
.customer:link:focus,
.customer:link:active {
  border: 1px solid var(--color-ocean);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon,
.customer-link:active .customer-icon {
  fill: var(--color-ocean);
}

.footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-navy-blue);
  color: var(--color-cornflower);
  padding: 100px 0px;
}

.footer > .container {
  display: flex;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
}

.footer-logo-studio {
  color: var(--color-cloud);
}

.footer-social-block {
  margin-left: 120px;
}

.footer-social-header {
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socials {
  gap: 16px;
}

.footer-socials-link {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background var(--trns-fast);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background: #31d0aa;
}

.footer-subscribe-section{
  margin-left: auto;
  margin-right: 0;
}

.footer-subscribe-label{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.footer-subscribe-input{
  background-color: inherit;
  width: 264px;
  height: 40px;
  color: #FFFFFF;
  padding: 8px 16px;
  margin-right: 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.footer-subscribe-submit{
  background: var(--color-iris);
  border-radius: 4px;
  border: none;
  width: 165px;
  height: 40px;

  color: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--trns-fast);
}

.footer-subscribe-submit:hover, .footer-subscribe-submit:focus{
  background-color: var(--color-ocean);
}

.footer-subscribe-icon{
  fill: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* PORTFOLIO STYLES */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;

  cursor: pointer;
  background-color: var(--color-cloud);
  color: var(--color-iris);

  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  padding: 12px 24px;

  transition: color var(--trns-fast), background-color var(--trns-fast), box-shadow var(--trns-fast);
}

.filter-list {
  margin-bottom: 72px;
}

.button-li {
  margin-left: 24px;
}

.button-li:first-child {
  margin-left: 0px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--color-white);
  background-color: var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-image {
  width: 360px;
  height: 300px;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
  margin: 0px 0px 8px 0px;
}

.project-card {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 24px;
  margin-bottom: 48px;
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.project-card-link{
  text-decoration: none;
  display: block;

  transition: box-shadow var(--trns-fast);
}

.project-card-link:hover, .project-card-link:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card:nth-child(3n + 1) {
  margin-left: 0px;
}

.project-card:nth-child(n + 7) {
  margin-bottom: 0px;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  margin: 0px 0px;
  padding: 0px 0px;
  flex-wrap: wrap;
}

.portfolio-section {
  padding: 96px 0px 120px 0px;
}

.project-card-text {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.overlay-box{
position: absolute;
width: 360px;
height: 300px;
padding: 40px 32px;

background-color: #4D5AE5;

color: white;
pointer-events: none;
overflow: hidden;
transition: transform var(--trns-fast);
}

.project-card-top{
  overflow: hidden;
  position: relative;
}

.project-card-link:hover .overlay-box, .project-card-link:focus .overlay-box{
  transform: translateY(-300px);
}

/*               */
/* MODAL SECTION */
/*               */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--trns-fast), visibility var(--trns-fast), pointer-events var(--trns-fast);
  transition-delay: 50ms;
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal{
  width: 408px;
  height: 576px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--trns-fast);
}

.backdrop.is-hidden .modal{
  transform: translate(-50%,-30%);
}

.modal-button{
position: absolute;
top: 24px;
right: 24px;

display: flex;
align-items: center;
width: 24px;
height: 24px;

background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;

transition: var(--trns-fast);
transition-property: fill var(--trns-fast), background var(--trns-fast);
}

.modal-button:hover, .modal-button:focus, .modal-button:active{
  background: var(--color-ocean);
  fill: #ffffff;
}

.modal-close-icon{
  margin: 0 auto;
}

.modal-text{
  margin-top: 72px;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  display: block;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.modal-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-input-block{
  position: relative;
}

.modal-icon{
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-navy-blue);
  pointer-events: none;
  transition: fill var(--trns-fast);
}

.input-name:focus + .modal-icon,
.input-tel:focus + .modal-icon,
.input-mail:focus + .modal-icon{
  fill: var(--color-iris);
}

.modal-label{
margin-left: 24px;
margin-bottom: 4px;
margin-top: 8px;
display: block;

font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: var(--color-light-slate);

user-select: none;
}

.modal-label:first-child{
  margin-top: 0px;
}

label{
  display: block;
}

.modal-input-block{
font-size: 12px;
letter-spacing: 0.01em;
color: var(--color-light-slate);
margin: 0 auto;

}

.input-name, .input-tel, .input-mail{
  width: 360px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  padding-left: 38px;
  position: relative;
  outline: transparent;
  transition: border var(--trns-fast);
}

.input-name:focus,.input-tel:focus,.input-mail:focus,.input-comment:focus{
  border: 1px solid #4D5AE5;
}

.input-comment{
  display: block;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  margin: 0 auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
  outline: transparent;
  transition: border var(--trns-fast);

  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 117%;

  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.modal-checkbox-label{
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
margin-left: 40px;
margin-bottom: 24px;

padding-left: 18px;

user-select: none;
}

.modal-checkbox{
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.modal-checkbox-box{
  position: absolute;
  margin-left: -18px;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  transition: border var(--trns-fast), background-color var(--trns-fast), background-image var(--trns-fast);
}

.modal-checkbox:checked + .modal-checkbox-box{
  border: none;
  background-color: var(--color-iris);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23fff'/%3E%3C/svg%3E");
}

.send-button{
padding: 16px 32px;
width: 169px;
height: 56px;

font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: white;

display: flex;
justify-content: center;
margin: 0 auto;

background: var(--color-iris);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

border: none;

transition: background-color var(--trns-fast);
}

.send-button:hover, .send-button:focus, .send-button:active{
  background-color: var(--color-ocean);
}